// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
label.required:after {
  content: " *";
  color: #d00;
}

// Override main header logo from adminLTE
.main-header .logo {
  font-size: 18px;
}

.box-body {
  .data-listing {
    table {
      thead {
        tr {
          th {
            vertical-align: middle;
            background: #3C8DBC;
            color: #fff;
          }

          td {
            background: #eee;
          }

          th.rowNumber, td.rowNumber {
            width: 50px !important;
          }
          th.rowNumber, th.rowActive, th.rowFloat, td.rowNumber, td.rowActive, td.rowFloat {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td.rowNumber, td.rowActive, td.rowFloat {
            text-align: center;
          }
          &:hover td {
            cursor: pointer;
          }
        }

      }
    }
  }
}

.alert-message {
  z-index: 9999;
  position: absolute;
  left: 50%;
  padding: 10px;
  background: #eee;
  border: 1px solid #ddd;
  min-width: 200px;
}

form {
  margin-bottom: 10px;
  input.invalid {
    border-color: #d00;
  }
}

.content-footer {
  margin: auto;
  padding: 15px;
  .box-header {
    font-size: 14px;
    font-weight: bold;
  }
  .box-body {
    max-height: 400px;
    overflow: auto;
  }
}

.btn-app {
  margin: 0 !important;
}
