#tabs {
  margin: 0;
  overflow: hidden;
  padding: 0;
  zoom: 1;
  position: relative;
  top: 1px;
  z-index: 2;
}

#tabs li {
  display: block;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
  float: left;
}

.tab-content {
  border-radius: 3px;
  border: 1px solid #aaa;
  background: #f4f4f4;
  z-index: 1;
}

#tabs li a {
  display: block;
  padding: 5px 35px;
  border: 1px solid #aaa;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 2px 2px 0 0;
  border-bottom: none;
}

.tab-section {
  padding: 10px;
}

#tabs li a.current {
  background: #f4f4f4;
  color: #000;
  font-weight: bold;
}